img#logo {
    float:left
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    background-color: pink;}

#nav-header {background-color: green;}

header>nav>ul {
    border-block-color: pink;
}

a {
    text-decoration: none;
}

li {
    display: inline;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px palevioletred;
}

header>nav>ul>li {
    display: inline;
    background-color: palevioletred;
    padding:10px;
    float: right;}

header>h1 {
    text-align: center;
    text-shadow: 2px 2px palevioletred;
    }    


main {
    padding:10px ;
    background-color: palevioletred;
    height: 800px;
}

main>article {
    background-color: pink;
    float: left;
    text-align: center;
    border: 2px solid black;
    margin: 3px; 
    width: 32%;
    height: 300px;
}

footer {background-color: pink}

footer>nav>ul>li{
    display: inline;
    padding:10px;
    background-color: pink;
}


#copyright {
    display: inline;
    background-color: pink;
    padding: 10px;
    float: right;
}

#logos {
    width: 30px;
    height: 30px;
}