img#logo {
    float:left
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    background-color: pink;}

#nav-header {background-color: green;}

header>nav>ul {
    border-block-color: pink;
}

li {
    display: inline;
}

h2 {
    text-align: center;
}

header>nav>ul>li {
    display: inline;
    background-color: aqua;
    padding:10px;
    float: right;}

header>h1 {
    text-align: center;
    }    


main {
    padding:10px ;
    background-color: greenyellow;}

main>article {
    background-color: darkolivegreen;
    float: left;
    text-align: center;
    border: 5px solid black; 
    width: 30%}

footer {background-color: pink}

footer>nav{
    display: inline;
    padding:10px;
    background-color: aqua;
    float: left;}


#copyright {
    display: inline;
    background-color: brown;
    padding: 10px;
}

#logos {
    width: 30px;
    height: 30px;
}